spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/handydandy
    username: handyman_user
    password: secret
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true